.transition-fade {
    transition: 1s;
    opacity: 1;
}
html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(-50px);
}
.delay1{
    transition-delay: .2s;
}
.delay2{
    transition-delay: .4s;
}
.delay3{
    transition-delay: .6s;
}
html.is-animating .is-leaving .transition-fade {
    transition-delay: 0s!important;
}